body {
  background-color: #EAF6F6
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
  border-color: grey;
}
h1 {
  color: #9CC094;
}
h3 {
  color:#66bfbf;

}
